@use 'base/variables' as v;
@use 'base/mixins' as m;

.info-cuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;

    .form-cuenta{
        width: 40%;
    }

    .imagen-cuenta{
        background-image: url('../img/person.png');
        background-repeat: no-repeat;
        background-position: center center;
        //margin: 1rem;
        background-color: v.$azul;
        border-radius: 10rem;
        width: 15rem;
        height: 15rem;
        background-size: 65%;
        padding: 0;
    }

    .acciones-cuenta{
        display: flex;
        justify-content: space-between;
    }

}
